<!DOCTYPE html>
<head>
	<title>title</title>
	<link rel="stylesheet" href="../static/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
	<div class="container">
	<div>&nbsp;</div>
		<div><a href="/playghost" class="button" onclick="startGhost()">play ghost video</a></div>
	<div id="status">&nbsp;</div>
	</div>
</body>

	<script>
	const changeStatus = (status) => {
		var element = document.getElementById("status");
		element.innerHTML = status;
	}
	const timeline = [
		{message: "projector started", time: 1},
		{message: "lens cover up", time: 4},
		{message: "video playing", time: 6},
		{message: "projector turning off", time: 20},
		{message: "&nbsp;", time: 22},
	const startGhost = () => {	
		timeline.forEach(e => {
			setTimeout(() => {changeStatus(e.message)}, e.time*1000);
		})
	}
	</script>
</html>
